$edgewater : #c0dfd9 ;
$green-white: #E9ECE5;
$submarine: #b3c2bf ;
//$tuatara : #3b3a36 ;
$tuatara : whitesmoke ;


$body-background : $submarine ;
$primary-invert : $tuatara;
$family-serif : 'Roboto Slab', 'Open Sans' , 'serif' ;

// $text : #tuatara;
$text-light : $green-white ;
$family-primary : $family-serif ;
$box-radius: $radius-small ;

$input-radius: $radius-small

